@page
@{
    Layout = "_Layout";
    ViewBag.Title = "Index Page";
}


    <section class="page-section">
        <div class="container">

            <p style="background-color:powderblue;">
                ***Note: For Layout and database implementation, please click the car Model link from the navigation menu. Thank you.***
            </p>

            <div class="container">
                <img class="logo" src="~/images/carLogo.png" alt="logo image" /><br /><br />
            </div>

            <h2 style="color:gold;">Car Gallery Website</h2>

            <p>This website is to display a car gallery. You can know more about popular cars in this website.</p>
            <p>You can also rate a car according to your desire. YOu can see car details and comment on them. </p>
            <p>you can post your favorite car in this website. If it is your original post, you can edit or delete car as well. </p>




        </div>
    </section>
