<p>(partial view 1)(*put in index.cshtml and DisplayDashboard.cshtml*). This is an example of partial view imported from /Views/Shared/_MypartialView.cshtml
This can be put in View files as a partial portion of the View.
Partial view is different than layout. Layout stays in all of the views. Example of layout is like header and footer.
 </p>

@*partial view is not needed if we use _Layout.cshtml. Basically does the same thing.*@